<!DOCTYPE html>

<html>
  <head>
    <title><%= title %></title>
   
    
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
    <style>

@font-face {
    font-family: 'oferta_do_diaregular';
    src: url('/stylesheets/fonts/oferta-do-dia-webfont.woff2') format('woff2'),
         url('/stylesheets/fonts/oferta-do-dia-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*{
  font-family: 'oferta_do_diaregular';
  
}
      #cabeca {
        height: 10vh;
        background-color:white;
        display: block;
        contain: content;      

      }
     
      img{
        width: 20vh;
        height: 10vh;

      }
      h1{
        color: black;
        text-align: center;
        margin: none;
        padding: none !important;
       font-family:Verdana, Geneva, Tahoma, sans-serif ;
      }
      #titulo{
        background-color:red;
        width: 100%;
        height: 20vh;
        margin: none;
        padding: none !important;
        color:white;
        size: 200px;
        font-size: xx-large;
        text-align: center;
        justify-content: center;
       

      }
      .nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.titulo{
  padding-top: 10px;
  font-size:100px; 
}
#oferta{
  background-color: yellow;
        width: 100%;
        height: 60vh;
        font-size: xx-large;
        text-align: center;
        justify-content: center;
}
.produto{
  padding-top: 10px;
  font-size:100px; 
}
.subproduto{
  padding-top: 10px;
  font-size:80px; 
}
.valor{
  padding-top: 10px;
  font-size:60px; 
}
.frase{
        font-size:30px ;
        text-align: center;
        justify-content: center;
        font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
.linha1{
  font-family:Verdana, Geneva, Tahoma, sans-serif ;

}
.linha2{
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
}


    </style>
  

  </head>
  <div class="container-fluid">
    <div id="cabeca"  class="cabeca">
   <div class="row">
      <div  class="col-sm">
       <img id="logo" src="/images/logomenor1.jpeg" alt="">
      </div>
      <div class="col-sm">
       <h1>Bem - vindo 
         a Padaria Cena Pães
       </h1>
      </div>
      <div class="col-sm">
            
    </div>
    </div>
  </div>
<div style="height: 80vh; margin:none;" class="corpo">
  <div style="height: 80vh; " class="row">
    <div style="background-color:lightgrey;" class="col nopadding">
      
    </div>
    <div id="colCorpo" style="height: 80vh;" class="col-8 nopadding">    

      <div id="titulo" class="titulo">
        <p id="titulotexto" class="titulo">OFERTA</p>
      </div>

      <div  id="oferta" class="oferta">
        <p id="produto" class="produto"></p>
        <p id="subproduto"class="subproduto"></p>
        <p id="valor" class="valor"></p>
      </div>

       
    

    </div>
    <div style="background-color:lightgrey;  padding: none;" class="col nopadding">
     
    </div>
  </div>

</div>

<div style="height: 10vh;" class="footer"> 
  <div class="row">
    <div class="col-2 nopadding">
      <img src="/images/ImagemTouch.gif" alt="">
    </div>
    <div class="col-8 frase nopadding">
      <p class='linha1 nopadding'>APROXIME A MÂO DO SENSOR</p>
      <p class='linha2 nopadding'>PARA IMPRIMIR A COMANDA</p>
    </div>
    <div class="col-2 nopadding">
      
    </div>
   
  </div>

</div>

</div>
<script src="/javascripts/jquery.min.js"></script>
<script  src="/javascripts/bootstrap.min.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script>
   const utterance = new SpeechSynthesisUtterance()
  const socket = io();
  /* const allVoicesObtained = new Promise(function(resolve, reject) {
  let voices = window.speechSynthesis.getVoices();
  if (voices.length !== 0) {
    resolve(voices);
  } else {
    window.speechSynthesis.addEventListener("voiceschanged", function() {
      voices = window.speechSynthesis.getVoices();
      resolve(voices);
    });
  }
}); */

//allVoicesObtained.then(voices => console.log("All voices:", voices));
/*   var arquivo = arquivo.lista
  
  var video = document.querySelector("#movie")
      video.setAttribute("value", arquivo )
      var video2 = document.querySelector("#movie2")
      video2.setAttribute("src", arquivo )
 */


let counter =2; //contator tempo
var valorSerial =''
socket.on('serial:data',function(dataSerial){
    console.log("recebendo do backend : " + dataSerial.value)
    valorSerial = dataSerial.value
    if(valorSerial == "IMPRESSAO"){
  console.log("é igual")
 
    utterance.text ="Seja bem vindo a Padaria. Utilize a Máscara"
    utterance.lang ="pt-BR"
    utterance.rate = 2;     
    speechSynthesis.speak(utterance)
  }

   
    socket.on('disconnect', () => {
  console.log("descoenctou? : " + socket.connected);


    })
})

  /* setInterval(function(){ 
    console.log("atualizou!")
  document.getElementById("valor").innerHTML = valorSerial;
   }, 10000); */



</script>

<script>

async function buscandoPromocoes(){
     
  let resposta = await fetch('./adm/listagem', {
      method: 'GET',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },      
    })

    let resultado = await resposta.json()

    console.log(resultado[0].nome)

    for (let i=0; i <resultado.length; i++) {
    setTimeout(() => {
        document.getElementById("titulotexto").innerHTML = resultado[i].titulo;
        document.getElementById("produto").innerHTML = resultado[i].produto;
        document.getElementById("subproduto").innerHTML = resultado[i].subproduto;
        document.getElementById("valor").innerHTML = "R$ " + resultado[i].valor;

    }, 10000 * i);
  }

      
}
setInterval(()=>{
  buscandoPromocoes()

},20000)




</script>

<script>
 var $wrapper = document.querySelector('#colCorpo'),
    // Pega a string do conteúdo atual
    HTMLTemporario = $wrapper.innerHTML,
    // Novo HTML que será inserido
    HTMLNovo = '<video id="video" src="/arquivos/0aHq24wFwb.mp4" Autoplay ></video>'

// Concatena as strings colocando o novoHTML antes do HTMLTemporario
HTMLTemporario2 = HTMLNovo


// Coloca a nova string(que é o HTML) no DOM
$wrapper.innerHTML = HTMLTemporario2;

setTimeout(()=>{
  $wrapper.innerHTML = HTMLTemporario;
},30000)


</script>
  
</html>
