<!DOCTYPE html>

<html>
  <head>
    <title><%= title %></title>
   
    <script language="javascript" src="/public/javascripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
    <style>

@font-face {
    font-family: 'oferta_do_diaregular';
    src: url('/stylesheets/fonts/oferta-do-dia-webfont.woff2') format('woff2'),
         url('/stylesheets/fonts/oferta-do-dia-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*{
  font-family: 'oferta_do_diaregular';
  
}
      #cabeca {
        height: 10vh;
        background-color:white;
        display: block;
        contain: content;      

      }
     
      img{
        width: 20vh;
        height: 10vh;

      }
      h1{
        color: black;
        text-align: center;
        margin: none;
        padding: none !important;
      }
      #titulo{
        background-color:red;
        width: 100%;
        height: 20vh;
        margin: none;
        padding: none !important;
        color:white;
        size: 200px;
        font-size: xx-large;
        text-align: center;
        justify-content: center;
       

      }
      .nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.titulo{
  padding-top: 10px;
  font-size:100px; 
}
#oferta{
  background-color: yellow;
        width: 100%;
        height: 60vh;
        font-size: xx-large;
        text-align: center;
        justify-content: center;
}
.produto{
  padding-top: 10px;
  font-size:100px; 
}
.subproduto{
  padding-top: 10px;
  font-size:80px; 
}
.valor{
  padding-top: 10px;
  font-size:60px; 
}
.frase{
        font-size:30px ;
        text-align: center;
        justify-content: center;
}


    </style>
  

  </head>
  <div class="container-fluid">
    <div id="cabeca"  class="cabeca">
   <div class="row">
      <div  class="col-sm">
       <img id="logo" src="/images/logomenor1.jpeg" alt="">
      </div>
      <div class="col-sm">
       <h1>Bem - Vindo 
         A Padaria Cena Pães
       </h1>
      </div>
      <div class="col-sm">
       Espaço para conter ocupação?      
    </div>
    </div>
  </div>
<div style="height: 80vh; margin:none;" class="corpo">
  <div style="height: 80vh; " class="row">
    <div style="background-color:lightgrey;" class="col nopadding">
      
    </div>
    <div style="height: 80vh;" class="col-8 nopadding">

     
      <div id="titulo" class="titulo">
        <p class="titulo">OFERTA</p>
      </div>

      <div id="oferta" class="oferta">
        <p class="produto">LANCHE</p>
        <p class="subproduto">HUMBUGUER, QUEIJO, BACON</p>
        <p class="valor">R$ 13,50</p>
      </div>

       
    

    </div>
    <div style="background-color:lightgrey;  padding: none;" class="col nopadding">
     
    </div>
  </div>

</div>


<div style="height: 10vh;" class="footer"> 
  <div class="row">
    <div class="col-2 nopadding">
      <img src="/images/ImagemTouch.gif" alt="">
    </div>
    <div class="col-8 frase nopadding">
      <p class='linha1 nopadding'>APROXIME A MÂO DO SENSOR</p>
      <p class='linha2 nopadding'>PARA IMPRIMIR A COMANDA</p>
    </div>
    <div class="col-2 nopadding">
      
    </div>
   
  </div>

</div>

</div>

<script>
/*   var arquivo = arquivo.lista
  
  var video = document.querySelector("#movie")
      video.setAttribute("value", arquivo )
      var video2 = document.querySelector("#movie2")
      video2.setAttribute("src", arquivo )
 */



</script>


</html>
